################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChessLab/.vs/Lab01/FileContentIndex/268b549e-a926-4ee3-9839-47a7ca0bbd12.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/1d2d0e6e-f550-4baf-8f4e-9ee5032e7a9c.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/4e606813-4f12-46fa-9ce5-dec6fb7f86ca.vsidx
/ChessLab/.vs/Lab01/FileContentIndex
/ChessLab/.vs/Lab01/v17/Browse.VC.opendb
/ChessLab/.vs/Lab01/FileContentIndex/6aa12bec-c267-4635-b7a1-7c496024f43b.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/9172a35a-d436-4da0-a807-0aed4e235e96.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/95cdf14f-7ab9-419c-8a23-9934c428593f.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/afb80b5d-e086-43e6-959a-5ccd28b3d058.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/b2f66d81-30ed-4352-b979-7782af6fce93.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/bf9b90f1-de0c-4d75-a9e2-bb3b79cdc1cd.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/fa353ade-9682-4711-9bee-561d0c8e6e80.vsidx
/ChessLab/.vs/Lab01/v17/.suo
/ChessLab/.vs/Lab01/v17/.wsuo
/ChessLab/.vs/Lab01/v17/Browse.VC.db
/ChessLab/.vs/Lab01/v17/Browse.VC.db-shm
/ChessLab/.vs/Lab01/v17/ipch/AutoPCH/de9ddb91b605f83f/BOARD.ipch
/ChessLab/.vs/Lab01/v17/ipch/AutoPCH/b81bef3408d03bd1/PIECE.ipch
/ChessLab/Debug/Lab01.tlog/CL.command.1.tlog
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ChessLab/.vs/Lab01/v17/ipch/AutoPCH/2ddd5693827f11ab/TEST.ipch
/ChessLab/Debug/Lab01.tlog/Cl.items.tlog
/ChessLab/Debug/Lab01.tlog/CL.read.1.tlog
/ChessLab/Debug/Lab01.tlog/CL.write.1.tlog
/ChessLab/Debug/Lab01.tlog/Lab01.lastbuildstate
/ChessLab/Debug/Lab01.tlog/link-cvtres.read.1.tlog
/ChessLab/Debug/Lab01.tlog/link-cvtres.write.1.tlog
/ChessLab/Debug/Lab01.tlog/link-rc.read.1.tlog
/ChessLab/Debug/Lab01.tlog/link-rc.write.1.tlog
/ChessLab/Debug/Lab01.tlog/link.command.1.tlog
/ChessLab/Debug/Lab01.tlog/link.read.1.tlog
/ChessLab/Debug/Lab01.tlog/link.write.1.tlog
/ChessLab/Debug/Lab01.tlog/unsuccessfulbuild
/ChessLab/Debug/Lab01.exe.recipe
/ChessLab/Debug/Lab01.ilk
/ChessLab/Debug/Lab01.pdb
/ChessLab/Debug/Lab01.vcxproj.FileListAbsolute.txt
/ChessLab/Debug/move.obj
/ChessLab/Debug/piece.obj
/ChessLab/Debug/position.obj
/ChessLab/Debug/test.obj
/ChessLab/Debug/testMove.obj
/ChessLab/Debug/testPiece.obj
/ChessLab/Debug/testPosition.obj
/ChessLab/Debug/uiDraw.obj
/ChessLab/Debug/uiInteract.obj
/ChessLab/Debug/vc143.pdb
/ChessLab/x64/Debug/Lab01.tlog/CL.command.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/Cl.items.tlog
/ChessLab/x64/Debug/Lab01.tlog/CL.read.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/CL.write.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/Lab01.lastbuildstate
/ChessLab/x64/Debug/Lab01.tlog/link.19120-cvtres.read.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.19120-cvtres.write.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.19120-rc.read.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.19120-rc.write.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.19120.read.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.19120.read.2.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.19120.write.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.command.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.read.1.tlog
/ChessLab/x64/Debug/Lab01.tlog/link.write.1.tlog
/ChessLab/x64/Debug/board.obj
/ChessLab/x64/Debug/chess.obj
/ChessLab/x64/Debug/Lab01.exe
/ChessLab/x64/Debug/Lab01.exe.recipe
/ChessLab/x64/Debug/Lab01.ilk
/ChessLab/x64/Debug/Lab01.log
/ChessLab/x64/Debug/Lab01.pdb
/ChessLab/x64/Debug/Lab01.vcxproj.FileListAbsolute.txt
/ChessLab/x64/Debug/move.obj
/ChessLab/x64/Debug/piece.obj
/ChessLab/x64/Debug/position.obj
/ChessLab/x64/Debug/test.obj
/ChessLab/x64/Debug/testMove.obj
/ChessLab/x64/Debug/testPawn.obj
/ChessLab/x64/Debug/testPiece.obj
/ChessLab/x64/Debug/testPosition.obj
/ChessLab/x64/Debug/uiDraw.obj
/ChessLab/x64/Debug/uiInteract.obj
/ChessLab/x64/Debug/vc143.idb
/ChessLab/x64/Debug/vc143.pdb
/ChessLab/Debug/board.obj
/ChessLab/Debug/chess.obj
/ChessLab/Debug/Lab01.exe
/ChessLab/.vs/Lab01/v17/ipch/AutoPCH/89a683ccea6320a1/PAWN.ipch
/ChessLab/.vs/Lab01/v17/ipch/AutoPCH/8e097732f58a3dfd/TESTPIECE.ipch
/ChessLab/.vs/Lab01/v17/Browse.VC.db-wal
