################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChessLab/.vs/Lab01/FileContentIndex/268b549e-a926-4ee3-9839-47a7ca0bbd12.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/1d2d0e6e-f550-4baf-8f4e-9ee5032e7a9c.vsidx
/ChessLab/.vs/Lab01/FileContentIndex/4e606813-4f12-46fa-9ce5-dec6fb7f86ca.vsidx
/ChessLab/.vs/Lab01/FileContentIndex
/ChessLab/.vs/Lab01/v17/Browse.VC.opendb
